.room-demo-overview {
  display: flex;
  position: relative;
  text-align: center;
  height: 100%;
  .info-container {
    display: flex;
    gap: 32px;
    flex: 2;
    place-content: space-between;
    overflow: hidden;
  }
  .scene {
    position: absolute;
  }
  .view {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .plan {
    display: flex;
    width: 200px;
    height: 200px;
    z-index: 5;
    align-self: flex-end;
    margin-top: auto;
    background: rgba(0, 0, 0, 0.5);
  }
  .url {
    text-decoration: underline;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .description {
    color: white;
    font-weight: 700;
    margin: auto;
    white-space: nowrap;
  }
  .navigation {
    display: flex;
    gap: 32px;
    align-items: center;
    width: 100%;
    place-content: space-between;
    z-index: 9;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
  }
  @media(max-width: 900px) {
    .navigation {
      gap: 8px;
      flex-direction: column-reverse;
    }
    .plan {
      width: 150px;
      height: 150px;
    }
    .info-container {
      flex: 1;
      gap: unset;
      flex-direction: column;
    }
  }
}