.room-demo-overview {
  display: flex;
  position: relative;
  text-align: center;
  .scene {
    position: absolute;
  }
  [href] {
    text-decoration: underline;
    color: white;
  }
  .buttons {
    display: flex;
    align-items: center;
    width: 100%;
    place-content: space-between;
    z-index: 9;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
  }
  @media(max-width: 900px) {
    .buttons {
      gap: 8px;
      flex-direction: column-reverse;
    }
  }
}