.room-list {
    display: flex;
    gap: 8px;
}

.room-list-button {
    cursor: pointer;
}

.room-list-button.top {
    margin-right: 16px;
}

.room-list-button.selected {
    border: 2px solid blue;
}