.App {
  display: flex;
  position: relative;
  text-align: center;
}

.App .scene {
  position: absolute;
}

.App .header {
  display: flex;
  align-items: center;
  width: 100%;
  place-content: space-between;
  z-index: 9;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.App [href] {
  color: white;
}